extends ../layout


block content
    each libro in libros
        h1= libro.Titulo
        small= 'ISBN: ' + libro.ISBN
        p=  'Descripcion: ' + libro.Descripcion
    
    each libro in libros
        h1= libro.Titulo
        small= 'ISBN: ' + libro.ISBN
        p=  'Descripcion: ' + libro.Descripcion

    each libro in libros
        h1= libro.Titulo
        small= 'ISBN: ' + libro.ISBN
        p=  'Descripcion: ' + libro.Descripcion
    
    each libro in libros
        h1= libro.Titulo
        small= 'ISBN: ' + libro.ISBN
        p=  'Descripcion: ' + libro.Descripcion

    each libro in libros
        h1= libro.Titulo
        small= 'ISBN: ' + libro.ISBN
        p=  'Descripcion: ' + libro.Descripcion
    
    each libro in libros
        h1= libro.Titulo
        small= 'ISBN: ' + libro.ISBN
        p=  'Descripcion: ' + libro.Descripcion


    each libro in libros
        h1= libro.Titulo
        small= 'ISBN: ' + libro.ISBN
        p=  'Descripcion: ' + libro.Descripcion
    
    each libro in libros
        h1= libro.Titulo
        small= 'ISBN: ' + libro.ISBN
        p=  'Descripcion: ' + libro.Descripcion