extends ../layout


block content
    each libro in libros
        div(class="row m-3")
            div(class="col col-sm-2")
                if(libro.imgdata!=null)
                    img(class="img-fluid" src='data:image/png;base64,'+libro.imgdata, style="max-width=50px; max-height=90px;")
            div(class="col")    
                -var genLink = "<a href='/generos/d/" + libro.gen_id +"'> " + libro.genero + "</a>"
                h2
                    a(href="/libros/d/" + libro.lib_id ) !{libro.titulo}
                small= 'Autor: '
                    a(href="/autores/d/" + libro.autor_id) !{libro.autor}
                    | !{" \u2022 "} !{genLink}
                p=  'Descripcion: ' + libro.descripcion

    if paginate.hasPreviousPages || paginate.hasNextPages(pageCount)
        .navigation.well-sm#pagination
            ul.pagination.justify-content-center
                if paginate.hasPreviousPages
                    li.page-item
                        a(href=paginate.href(true)).page-link
                            | &laquo; Anterior 
                else 
                    li.page-item.disabled
                        a.page-link(tabindex="-1")
                            | Anterior
                if pages
                    each page in pages
                        if actualPage === page.number
                            li.page-item.active
                                a.page-link(href=page.url)= page.number
                        else 
                            li.page-item
                                a.page-link(href=page.url)= page.number
                            
                if paginate.hasNextPages(pageCount)
                    li.page-item
                        a.page-link(href=paginate.href()).next()
                            | Siguiente &raquo;
                            i.fa.fa-arrow-circle-right
                else 
                    li.page-item.disabled(tabindex="-1")
                        a.page-link
                            | Siguiente