extends ../layout

block content
  - var genLink = "<a href='/generos/d/" + libro.gen_id +"'> " + libro.genero + "</a>"
  div(class="container")
    div(class="row")
      div(class="col-3")
        if(imagnes!=null)
          //- CAROUSEL
          div.carousel.slide(id="indicators" + libro.lib_id, data-ride="carousel")
            ol.carousel-indicators
              each imagen in libro.imagenes
                if imagen.active
                  li.active(data-target="#indicators" + libro.lib_id, data-slide-to="" + imagen.slideto)
                else
                  li(data-target="#indicators" + libro.lib_id, data-slide-to="" + imagen.slideto)
            div.carousel-inner
              each imagen in libro.imagenes
                if imagen.active
                  div.carousel-item.active
                    img.d-block.w-100(src='data:image/png;base64,'+imagen.data)
                else 
                  div.carousel-item
                    img.d-block.w-100(src='data:image/png;base64,'+imagen.data)
            a.carousel-control-prev(href="#indicators" + libro.lib_id, reole="button", data-slide="prev")
              span.carousel-control-prev-icon(aria-hidden="true")
              span.sr-only Anterior
            a.carousel-control-next(href="#indicators" + libro.lib_id, reole="button", data-slide="next")
              span.carousel-control-next-icon(aria-hidden="true")
              span.sr-only Siguiente
          div.mcontainer
            img(class="img-fluid" src=imgsrc alt="")
            //- div.middle
            //-   a.text-white.text(href="/libros/i/" + libro.lib_id) Agregar más
        else
          img(class="card-img-top" src="http://placehold.it/500x325" alt="")

        
        //- form(action="/libros/addImage/" + libro.lib_id, method="POST")
        //-   label(for="file-upload" class="custom-file-upload text-light bg-danger") Agregar Imagen
        //-     input(type="file" id="file-upload")
          
      div(class="col")
        h1= libro.titulo 
          if (isAdmin)
            a(href="/libros/e/" + libro.lib_id, class="btn btn-secondary ml-5") Editar
            a.ml-2.btn.btn-danger(href="/libros/d/" + libro.lib_id) Eliminar
        small Autor 
          a(href="/autores/d/" + libro.autor_id) #{libro.autor}
          | !{" \u2022 "} !{genLink}
        p= libro.descripcion

      .col-md-3 
        h5 Ejemplares disponibles: