extends ../layout


block content
    h1 Agrega un lote
    div.controls
        form(role="form", action="/lotes/add/", method="POST", autocomplete="off")
            div.form-label-group
                input.form-control(type="text", id="descripcionLote", name="descripcionLote", placeholder="Descripcion", autofocus, required)
                label(for="descripcionLote") Descripcion del lote

            .form-label-group
                input.form-control(type="date", id="fentrega", name="fentrega", placeholder="Fecha entrega")
                label(for="fentrega") Fecha entrega

            div(class="form-group")
                div(class="row")
                    div(class="col col-sm-2")
                        label(for="proveedor_id", class="col col-lg") Proveedor:
                    div(class="col")
                        select(class="custom-select" name="proveedor_id", required)
                            option(selected) Selecciona un proveedor
                            if proveedores != null
                                each prov in proveedores 
                                    option(value=prov.prov_id) !{prov.prov_nombre}
                    div(class="col-sm-2")
                        a(class="btn btn-success text-light", href="/proveedores/register") Agregar Nuevo

            br
            .row
                .col-sm-3
                    h4 Ejemplares en el lote
                .col
                    hr
                    br

            div.bodyEjemps
                div.entry.mb-5.p-3.border.border-secondary.rounded
                    .row.mb-2
                        .col
                            p Ejemplar 1
                        .col-sm-3
                            span.input-group-btn
                            button.btn.btn-info.btn-add.text-light(type="button")
                                span.glyphicon.glyphicon-plus Agregar otro ejemplar
                    .form-group.input-group
                        .input-group-prepend
                            span.input-group-text N
                        input.form-control(type="text", id="ejem", name="cantidades", placeholder="Cantidad")
                        .input-group-append
                            span.input-group-text 123
                            
                    .form-group.input-group
                        .input-group-prepend
                            span.input-group-text $
                        input.form-control(type="text", id="ejem", name="precios", placeholder="Precio")                

                    div(class="form-group")
                        div(class="row")
                            div(class="col col-sm-2")
                                label(for="libro_id", ) Tipo ejemplar:
                            div(class="col")
                                select(class="custom-select" name="tipos", required)
                                    option(selected) Selecciona un tipo
                                    if tipos != null
                                        each tipo in tipos 
                                            option(value=tipo.tipo_id) !{tipo.tipo_descripcion} - !{tipo.tipo_dimensiones}
                            div(class="col-sm-2")
                                a(class="btn btn-success text-light", href="/tipos/add") Agregar Tipo

                    div(class="form-group")
                        div(class="row")
                            div(class="col col-sm-2")
                                label(for="libro_id", ) Libro:
                            div(class="col")
                                select(class="custom-select" name="libros", required)
                                    option(selected) Selecciona un libro
                                    if libros != null
                                        each libro in libros 
                                            option(value=libro.lib_id) !{libro.titulo} - !{libro.fecha_pub} [!{libro.orig_titulo}]
                            div(class="col-sm-2")
                                a(class="btn btn-success text-light", href="/libros/crear") Agregar libro

                
                
                
                
                
            button(type="submit", class="btn btn-lg btn-primary btn-block") Registrar


block scripts
    script.
        document.getElementById('fentrega').valueAsDate = new Date();
        $(function()
        {
            var contador = 1;
            $(document).on('click', '.btn-add', function(e)
            {
                e.preventDefault();

                var controlForm = $('.controls form:first .bodyEjemps'),
                    currentEntry = $(this).parents('.entry:first'),
                    newEntry = $(currentEntry.clone()).appendTo(controlForm);
                contador++;
                newEntry.find('input').val('');
                newEntry.find('p').text("Ejemplar " + contador);
                
                controlForm.find('.entry:not(:last) .btn-add')
                    .removeClass('btn-add').addClass('btn-remove')
                    .removeClass('btn-info').addClass('btn-danger')
                    .html('<span class="glyphicon glyphicon-minus"></span> Quitar');
            }).on('click', '.btn-remove', function(e)
            {
                $(this).parents('.entry:first').remove();

                e.preventDefault();
                return false;
            });
        });

