extends ../layout


block content
    
    h1 Libros del genero: !{genero}
    if (libros != null)
        each libro in libros
            div(class="row m-3")
                div(class="col col-sm-2")
                    if(libro.imagenes!=null)
                        img(class="card-img-top" src='/uploads/'+libro.imagenes[0].img_filename, style="max-width=50px; max-height=90px;")
                div(class="col")    
                    -var genLink = "<a href='/generos/d/" + libro.gen_id +"'> " + libro.genero + "</a>"
                    h2
                        a(href="/libros/d/" + libro.lib_id ) #{libro.titulo}
                    small= 'Autor: '
                        a(href="/autores/d/" + libro.autor_id) #{libro.autor}
                        | !{" \u2022 "} !{genLink}
                    p=  'Descripcion: ' + libro.descripcion
    else 
        h3 No hay libros con este genero